<!-- wp:template-part {"slug":"header-primary" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"skincues-lite/header-media-primary"} /-->
    <!-- wp:pattern {"slug":"skincues-lite/services"} /-->
    <!-- wp:pattern {"slug":"skincues-lite/products-recent"} /-->
    <!-- wp:pattern {"slug":"skincues-lite/featured-content"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-four-columns","tagName":"footer"} /-->
